.jogos{
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
    border-radius: 10px 0px;
    background-color: rgba(220, 220, 220, 0.6);
}
.jogos h2 {
    font-size: 20px;
}

main h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}